#active {
    color:black;
}

.saw {
    color:black;
}
a{
    color:black;
    text-decoration: none;
}
h3 {
  font-size:20px;
  margin:0;
  padding:20px;
}
#grid #Line{
  border-right:2px solid black;
  width:10px;
  margin:0;
  padding:20px;
}
#logo{
    padding-left:20px;
    border-bottom:2px solid black;
}
#grid{
    display: grid;
    grid-template-columns: 35px 1fr;
}
#grid ol{
    padding-left:30px;
}
#grid #article{
    padding-left:0px;
}

@media(max-width:800px){
}